{% extends "base.html" %}
{% load static %}

{% block title %}All Transactions{% endblock %}

{% block content %}
    <h2 class="text-3xl font-semibold mb-6 text-gray-100">
        All transactions for Portfolio {{ portfolio.name }}
    </h2>

    <table class="min-w-full table-auto border-collapse border border-gray-700 text-gray-100">
        <thead>
            <tr class="bg-gray-800 text-left">
                <th class="border border-gray-600 px-4 py-2">Date</th>
                <th class="border border-gray-600 px-4 py-2">Type</th>
                <th class="border border-gray-600 px-4 py-2">Stock</th>
                <th class="border border-gray-600 px-4 py-2">Shares</th>
                <th class="border border-gray-600 px-4 py-2">Price</th>
                <th class="border border-gray-600 px-4 py-2">Fees</th>
                <th class="border border-gray-600 px-4 py-2">Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr class="border border-gray-700 hover:bg-gray-700 transition-colors">
                    <td class="border border-gray-600 px-4 py-2">
                        {{ transaction.transaction_date|date:DATE_FORMAT_DISPLAY }}
                    </td>
                    <td class="border border-gray-600 px-4 py-2">{{ transaction.transaction_type }}</td>
                    <td class="border border-gray-600 px-4 py-2">{{ transaction.stock }}</td>
                    <td class="border border-gray-600 px-4 py-2">{{ transaction.quantity }}</td>
                    <td class="border border-gray-600 px-4 py-2">
                        {{ transaction.stock.currency }} {{ transaction.price }}
                    </td>
                    <td class="border border-gray-600 px-4 py-2">
                        {{ transaction.stock.currency }} {{ transaction.fees }}
                    </td>
                    <td class="border border-gray-600 px-4 py-2">{{ transaction.notes }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7" class="text-center p-4">No transactions yet.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <a href="{% url 'portfolio-details' portfolio.id %}"
        class="text-indigo-400 hover:text-indigo-600 transition">
        Back to Portfolios Details
    </a>
{% endblock %}
