{% extends 'base.html' %}
{% load static %}

{% block title %}Holdings{% endblock %}

{% block content %}
    <h2 class="text-3xl font-semibold mb-6 text-gray-100">
        Holdings
    </h2>

    {% if not holdings %}
        <p class="text-gray-100 text-lg font-semibold">
            This portfolio has no holdings.
        </p>
    {% endif %}

    <div class="max-w-md mx-auto mb-8">
        <canvas id="holdingsChart"></canvas>
        {{ chart_labels|json_script:"chart-labels" }}
        {{ chart_values|json_script:"chart-values" }}
    </div>

    <div class="flex w-full">
        <div class="mt-8">
            <a href="{% url 'portfolio-details' portfolio.id %}" class="text-indigo-400 hover:text-indigo-600 transition">
                Back to Portfolios Details
            </a>
        </div>

        <form method="post" action="{% url 'logout' %}" class="ml-auto">
            {% csrf_token %}
            <button type="submit"
                class="bg-red-600 hover:bg-red-700 text-white font-semibold rounded-md mt-4 px-5 py-2">
                Log Out
            </button>
        </form>
    </div>
{% endblock %}
