{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2 class="text-3xl font-semibold mb-6 text-gray-100">
        Login
    </h2>

<form method="post"
    class="max-w-md mx-auto p-8 bg-gray-800 rounded-lg shadow-lg text-gray-900 space-y-6">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="mb-4">
            {% for error in form.non_field_errors %}
                <div class="text-red-600 text-lg font-semibold">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% for field in form %}
        <div class="flex flex-col space-y-1 mb-6">
            <label for="{{ field.id_for_label }}"
                class="mb-1 font-semibold text-gray-300">
                {{ field.label }}
                {% if field.field.required %}
                    <span class="text-red-500">*</span>
                {% endif %}
            </label>
            {{ field }}
            {% if field.help_text %}
                <span class="text-xs text-gray-500 mt-1">
                    {{ field.help_text }}
                </span>
            {% endif %}
            {% for error in field.errors %}
                <span class="text-sm text-red-600 mt-1">
                    {{ error }}
                </span>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit"
        class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-semibold rounded-md py-2 transition">
        Login
    </button>
            <p class="text-lg text-gray-300">
            Don't have an account?
            <a href="{% url 'register' %}" class="text-indigo-400 hover:text-indigo-600 underline">
                Register
            </a>
            to start tracking your investments.
        </p>
</form>
{% endblock %}
