{% extends "base.html" %}

{% block content %}
    <section class="max-w-lg mx-auto p-8 bg-gray-800 rounded-lg shadow-lg text-center">
        <h2 class="text-3xl font-semibold mb-6 text-gray-100">
            Welcome to the Portfolio Tracker!
        </h2>
        <p class="text-lg text-gray-300">
            Please
            <a href="{% url 'login' %}" class="text-indigo-400 hover:text-indigo-600 underline">
                log in
            </a>
            or
            <a href="{% url 'register' %}" class="text-indigo-400 hover:text-indigo-600 underline">
                register
            </a>
            to start tracking your investments.
        </p>
    </section>
{% endblock %}
